script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../js/vendors/jquery-1.11.0.min.js"><\/script>')
script(src='../js/vendors/bootstrap.min.js')
//- script(src='../js/vendors/prism.js')
script(src='../js/site.js')

script.
  $(function() {
    $('.docs-container').each(function() {
      var $this = $(this);

      var moduleHtml = $.trim($this.find('.module-wrapper').html());

      $this.find('pre > code').text(moduleHtml).html();
    });

    $('.js-show-code').on('click', function(e) {
      e.preventDefault();
      
      var $this = $(this),
          codeContainer = $this.next('.code-container');

      if (codeContainer.hasClass('hide')) {
        $this.text('Hide Code');
      } else {
        $this.text('Show Code');
      }
      codeContainer.toggleClass('hide');
    })
  });
