.header-container
  .container
    header.wow.fadeInDown(data-wow-delay="2.4s")
      a.logo(href="index.html")

      nav.giggs-nav
        ul.list-unstyled.nav.navbar-nav
          li
            a(href="#career") Career
          li
            a(href="#titles") Titles
          li
            a(href="#goals") Goals
          li
            a(href="#") Records
          li
            a(href="#") Awards
