html {
  font-size: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}