- var bodyClass = '';
block vars

doctype
html(class="no-js", lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    block title
      title Index

    //- only for development
    link(rel='stylesheet', href='../assets/css/vendors/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='../assets/css/site.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700')

  body(class='#{bodyClass}')

    .container
      block content

    include _includes/scripts
